anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
av
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
coloredlogs
comm
ctranslate2
debugpy
decorator
defusedxml
diskcache
exceptiongroup
executing
faster-whisper
fastjsonschema
filelock
flatbuffers
fqdn
fsspec
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
llama_cpp_python
MarkupSafe
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
onnxruntime
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
Pygments
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
safetensors
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
terminado
tinycss2
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
yt-dlp
zipp
